.container {
    display: flex;
    flex-direction: column;
}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.link {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 50px;
}

.divider {
    margin-left: 200px;
    margin-right: 200px;
}

.trademark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.registration {
    padding-left: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .container {
        /* Mobile-specific styles */
        padding: 10px;
    }

    .resources {
        /* Mobile-specific styles */
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .link {
        /* Mobile-specific styles */
        margin: 0;
        margin-bottom: 20px;
    }

    .divider {
        /* Mobile-specific styles */
        margin-left: 20px;
        margin-right: 20px;
    }

    .trademark {
        /* Mobile-specific styles */
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .registration {
        /* Mobile-specific styles */
        padding-left: 10px;
    }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 20px;
    }

    .resources {
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .link {
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .divider {
        margin-left: 150px;
        margin-right: 150px;
    }

    .trademark {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .registration {
        padding-left: 20px;
    }
}

/* Desktop Styles */
@media (min-width: 1025px) {
    .container {
        padding: 30px;
    }

    .resources {
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }

    .link {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .divider {
        margin-left: 200px;
        margin-right: 200px;
    }

    .trademark {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .registration {
        padding-left: 20px;
    }
}
